<a href="https://colab.research.google.com/github/Joao-2003/python-projects/blob/main/SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

# Conectar ao banco de dados
conn = sqlite3.connect('shopping.sqlite')
cursor = conn.cursor()

# Listar tabelas disponíveis
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tabelas = cursor.fetchall()
print("Tabelas no banco de dados:", tabelas)

Tabelas no banco de dados: [('customer_shopping_data',)]

In [2]:
# Listar colunas da tabela
cursor.execute("PRAGMA table_info(customer_shopping_data);")
colunas = cursor.fetchall()
print("\nColunas da tabela 'customer_shopping_data':")
for coluna in colunas:
    print(coluna[1], "- Tipo:", coluna[2])

Colunas da tabela 'customer_shopping_data':
invoice_no - Tipo: TEXT
customer_id - Tipo: TEXT
gender - Tipo: TEXT
age - Tipo: INTEGER
category - Tipo: TEXT
quantity - Tipo: INTEGER
price - Tipo: REAL
payment_method - Tipo: TEXT
invoice_date - Tipo: TEXT
shopping_mall - Tipo: TEXT

In [3]:
cursor.execute("SELECT COUNT(*) FROM customer_shopping_data;")
total_compras = cursor.fetchone()[0]
print(f"\nTotal de compras: {total_compras}")

Total de compras: 16029

In [7]:
cursor.execute("SELECT SUM(price * quantity) FROM customer_shopping_data;")
valor_total = cursor.fetchone()[0]
print(f"\nValor total vendido: R${valor_total:,.2f}")

Valor total vendido: R$40,505,696.55

In [8]:
cursor.execute("""
    SELECT gender, COUNT(*) AS total_compras
    FROM customer_shopping_data
    GROUP BY gender
    ORDER BY total_compras DESC;
""")
generos = cursor.fetchall()
print("\nDistribuição por gênero:")
for genero, total in generos:
    print(f"{genero}: {total} compras")

Distribuição por gênero:
Female: 9586 compras
Male: 6443 compras

In [9]:
cursor.execute("""
    SELECT category, SUM(quantity) AS total_quantidade
    FROM customer_shopping_data
    GROUP BY category
    ORDER BY total_quantidade DESC
    LIMIT 5;
""")
categorias = cursor.fetchall()
print("\nTop 5 categorias mais vendidas:")
for categoria, quantidade in categorias:
    print(f"{categoria}: {quantidade} unidades")

Top 5 categorias mais vendidas:
Clothing: 16301 unidades
Cosmetics: 7577 unidades
Food & Beverage: 7318 unidades
Shoes: 4918 unidades
Toys: 4703 unidades

In [10]:
cursor.execute("""
    SELECT AVG(price * quantity)
    FROM customer_shopping_data;
""")
media_gasto = cursor.fetchone()[0]
print(f"\nMédia de gasto por cliente: R${media_gasto:,.2f}")

Média de gasto por cliente: R$2,527.03

In [11]:
cursor.execute("""
    SELECT shopping_mall, COUNT(*) AS total_transacoes
    FROM customer_shopping_data
    GROUP BY shopping_mall
    ORDER BY total_transacoes DESC
    LIMIT 3;
""")
shoppings = cursor.fetchall()
print("\nTop 3 shoppings mais movimentados:")
for shopping, transacoes in shoppings:
    print(f"{shopping}: {transacoes} transações")

Top 3 shoppings mais movimentados:
Mall of Istanbul: 3248 transações
Kanyon: 3204 transações
Metrocity: 2397 transações

In [12]:
# Carregar dados completos com pandas
df = pd.read_sql_query("SELECT * FROM customer_shopping_data", conn)

# Exportar para CSV
df.to_csv("customer_shopping_analysis.csv", index=False, sep=';', encoding='utf-8')
print("\nDados exportados para 'customer_shopping_analysis.csv'.")

Dados exportados para 'customer_shopping_analysis.csv'.

In [13]:
conn.close()